.logo{
    width: 130px;
    padding: 4px 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
}
.login-btn{
    height: 50px;
    width: 100px;
    margin-top:5px ;
    padding: 2px 10px;
    border: none;
    background-color: transparent;
}
.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar{
    width: 550px;
    height: 25px;
    color: darkgray;
}
.searchbtn{
    height: 31px;
}
.nav-items>ul{
    display: flex;
}
.nav-items>ul>li{
    list-style: none;
    padding: 10px;
    margin: 5px;
}
.card{
    padding: 15px;
}
.card img{
    max-width: 100%;
    border-radius: 10px;
}
.restaurant-List{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 36px 10px;
    padding:20px;
    
}
.footer{
    padding: 20px;
    text-align: center;
    background-color: darkgrey;
    height: 200px;
}
.logo-f{
    width: 100px;
    border-radius: 50px;
}
.MenuContainer{
    display: flex;
    justify-content: space-evenly;
}